* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.sideBar {
  width: 250px;
  height: 100vh;
  background-color: #1e1e2f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.logo {
  width: 150px;
  margin-bottom: 40px;
}

.navLinks {
  list-style: none;
  width: 100%;
  padding: 0;
}


.navLinks li {
  margin: 20px 0;
}

.navLinks a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: block;
  padding: 10px;
  transition: background 0.3s;
}

.navLinks a:hover {
  background-color: #33334d;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 40px; margin-right: 40px;
}

.rowcadastro{
  display: flex;
  justify-content: space-between;
}
.msgBemvindo{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dashboardsDiv h2 {
  text-align: start;
}
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.chart-box {
  background: white;
  padding: 20px;
  margin: 20px 0 40px 0;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 25%;
}
canvas {
  width: 100% !important;
  height: auto !important;
}

.titulo{
  font-size: 32px;
}


.table-container {
  width: 100%;
  background: #2c3e50;
  padding: 0 0 0 15px;
  border-radius: 10px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  display: flex;
  justify-content: center;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 3px;
  text-align: left;
}

#vanechline {
  border: none;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #2c3e50;
  color: white;
}

td {
  background-color: #f9f9f9;
}

.status-dropdown {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#smalcolum {
  width: 40px;
  
}

#center{ 
  display: flex;
  gap: 5px;
}

.preenchimento{
  height: 20px;
}








#header-desktop {
background-color: #2C3E50;
height: 60px;
}


.nav-item .nav-link {
color: rgb(255, 255, 255) !important;
position: relative;
padding-bottom: 5px;
font-weight: bold;

}

/* Linha animada no hover */
.nav-item .item-navegacao::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 1px;
background-color: rgb(255, 255, 255);
transition: width 0.3s ease-in-out;
}

.nav-item .item-navegacao:hover::after {
width: 100%;
}

#login-icon {
margin-top: 8px;
}

#login-icon a {
text-decoration: none;
color: white;
font-weight: bold;
}



.nav-item {
margin: -10px 40px 0 0;
}

.navbar-brand img {
margin-top: -20px;
max-width: 60%;
}
/*fim do header*/