<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../css/gm.css">
    <title>Gerenciamento de Maquinas</title>
</head>

<body>

    <!--Header 1------------------------------------------------------------->
    <header id="header-desktop"><!-- inicio header-->
        <nav class="navbar navbar-expand-lg " id="nav-bar-all"><!--navegação-->

            <!--imagem-->
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../View/img/Logo_text.svg" alt="Bootstrap">
                </a>
                <!--fim imagem-->

                <!--responsive-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--fim responsive-->

                <!--inicio dos itens-->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link item-navegacao" aria-current="page" href="../View/home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link item-navegacao" aria-current="page"
                                href="../View/Solicitação_de_manutencao.html">Solicitação Ordem de Manutenção</a>
                        </li>
                        <!--dropdown-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Cadastro
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../View/Gerenciamento_peças.html"><i
                                            class="fa-solid fa-gear"></i> Peças</a></li>
                                <li><a class="dropdown-item" href="../View/Gerenciamento_maquinas.html"><i
                                            class="fa-sharp-duotone fa-solid fa-industry"
                                            style="--fa-primary-color: #000770; --fa-secondary-color: #adadad;"></i>
                                        Maquinas
                                    </a></li>
                                <li><a class="dropdown-item" id="icon" href="../View/Gerenciamento_Sensores.html"><i
                                            class="fa-solid fa-eye"></i> Sensores</a></li>
                                <li><a class="dropdown-item" id="icon" href="../View/Cadastro_usuário.html"><i
                                            class="fa-solid fa-user-secret"></i> Usuario</a></li>
                                <li><a class="dropdown-item" href="../View/Gerenciamento_ordens_manutenção.html"><i
                                            class="fa-solid fa-helmet-safety"></i> Manutenção</a></li>
                            </ul>
                        </li>

                        <!--fim do dropdown-->


                        <li class="nav-item">
                            <a class="nav-link item-navegacao" href="../View/Historico.html">Histórico</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link item-navegacao" href="../View/Dashboards.html">Dashboard</a>
                        </li>


                        <li class="nav-item">
                            <div id="login-icon"><a href="../View/Perfil.html"><i class="fa-solid fa-user"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--fim dos itens-->
            </div>
        </nav>
        <!--fim de nav-bar-->
    </header>
    <!--fim do header-->






    <!--Header 2------------------------------------------------------------->
    <section class="gm">

        <div class="container">

            <div class="titulo1">
                <h2>Gerenciamento de Máquinas</h2>
            </div>

            <div class="geral">

                <button id="button_cascata" type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"> Add <i class="fa-solid fa-circle-plus" id="button_cascata2"></i><a
                        class="nav-link" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false"></a></button>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Registro de Maquinas</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <div class="modal_main" id="principal_modelo">
                                <div class="number_one">

                                    <form id="formulario">
                                        <!--Form Nome------------------------------------------------------------->

                                        <div class="col-12 mb-3 modal-body" id="Corpo_modelo">
                                            <label for="inputAddress formFile" class="form-label">Nome da
                                                Máquina</label>
                                            <input type="text " class="form-control" id="nome_maquina"
                                                placeholder="Digite o nome">
                                        </div>

                                        <!--Form Descrição------------------------------------------------------------->

                                        <div class="col-12 mb-3 modal-body" id="Corpo_modelo">
                                            <label for="inputAddress formFile" class="form-label">Descrição</label>
                                            <input type="text " class="form-control" id="descricao"
                                                placeholder="Digite a Descrição">
                                        </div>

                                        <!--Form Fabricante------------------------------------------------------------->

                                        <div class="col-12 mb-3 modal-body" id="Corpo_modelo">
                                            <label for="inputAddress formFile" class="form-label">Fabricante</label>
                                            <input type="text " class="form-control" id="fabricante"
                                                placeholder="Digite o Fabricante">
                                        </div>

                                        <!--Form Modelo------------------------------------------------------------->

                                        <div class="col-12 mb-3 modal-body" id="Corpo_modelo">
                                            <label for="inputAddress formFile" class="form-label">Modelo</label>
                                            <input type="text " class="form-control" id="modelo"
                                                placeholder="Digite o Modelo">
                                        </div>
                                </div>


                                <div class="number_two">

                                    <!--Form Numero de série------------------------------------------------------------->

                                    <div class="col-12 mb-3 modal-body" id="Corpo_modelo">
                                        <label for="inputAddress formFile" class="form-label">Numero de série</label>
                                        <input type="text " class="form-control" id="numero_serie"
                                            placeholder="Digite o Numero de série">
                                    </div>

                                    <!--Form Date------------------------------------------------------------->

                                    <div class="col-12 mb-3 modal-body" id="Corpo_modelo">
                                        <label for="inputAddress formFile" class="form-label">Data de vencimento</label>
                                        <input type="date" class="form-control" id="data_vencimento">
                                    </div>

                                    <!--Form Address------------------------------------------------------------->

                                    <div class="col-12 mb-3 modal-body" id="Corpo_modelo">
                                        <label for="inputAddress formFile" class="form-label">Local</label>
                                        <input type="text " class="form-control" id="local"
                                            placeholder="Digite o local">
                                    </div>

                                    <!--Form Status------------------------------------------------------------->

                                    <div class="col-12 mb-3 modal-body" id="Corpo_modelo">
                                        <label for="inputAddress formFile" class="form-label">Status</label>
                                        <select class="form-select" id="status">
                                            <option selected>Em análise</option>
                                            <option value="1">Inativa</option>
                                            <option value="2">Ativa</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!--Form img------------------------------------------------------------->

                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Importação da Imagem</label>
                                    <input class="form-control" type="file" id="imagem">
                                </div>
                            </div>



                            <div class="modal-footer" id="rodape_modelo">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn" id="save_cadastro">Save changes</button>
                            </div>
                        </div>
                    </div>''
                </div>
                </form>


                <!--Form ícones------------------------------------------------------------->

                <div class="icons">
                    <a href="#" onclick="toggleDropdown(event)">
                        <i class="fa-solid fa-filter fa-2x"></i>
                    </a>
                </div>

                <div class="dropfiltro" id="dropfiltro">
                    <div class="dropfiltro-header">
                        <h3>Filtrar</h3>
                        <button class="close-btn" onclick="toggleDropdown(event)">&times;</button>
                    </div>
                    <div class="search-container">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Pesquisar...">
                    </div>
                    <div class="history-title">Histórico de Pesquisa</div>
                    <ul id="history">
                        <li>Pesquisa 1</li>
                        <li>Pesquisa 2</li>
                        <li>Pesquisa 3</li>
                    </ul>
                </div>

            </div>

        </div>
    </section>


    <!--Tabela------------------------------------------------------------->

    <section class="table-container">
        <table>
            <thead>
                <tr>
                    <th id="vanechline">Id</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Fabricante</th>
                    <th>Modelo</th>
                    <th>Numero de série</th>
                    <th>Data de aquisição</th>
                    <th>Local</th>
                    <th>Status</th>
                    <th>Imagem</th>
                    <th id="smalcolum"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="center">
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        <button class="edit-btn"> <i class="fa-solid fa-square-pen"></i></button>
                        <!-- Botão para abrir o modal específico -->
                        <button class="sensor-btn" data-bs-toggle="modal" data-bs-target="#sensorModal">
                            <i class="fa-solid fa-microchip"></i>
                        </button>

                        <!-- Modal Sensor -->
                        <div class="modal fade" id="sensorModal" tabindex="-1" aria-labelledby="sensorModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="sensorModalLabel">Sensores vinculados</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="modal-body">
                                                <ul class="list-group">
                                                    <li class="list-group-item">Sensor 1 - Tipo: Temperatura - Status:
                                                        Ativo</li>
                                                    <li class="list-group-item">Sensor 2 - Tipo: Umidade - Status:
                                                        Inativo</li>
                                                    <li class="list-group-item">Sensor 3 - Tipo: Pressão - Status: Ativo
                                                    </li>
                                                    <li class="list-group-item">Sensor 4 - Tipo: Movimento - Status:
                                                        Ativo</li>
                                                    <li class="list-group-item">Sensor 5 - Tipo: Luminosidade - Status:
                                                        Inativo</li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="center">
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        <button class="edit-btn"> <i class="fa-solid fa-square-pen"></i></button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="center">
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        <button class="edit-btn"> <i class="fa-solid fa-square-pen"></i></button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="center">
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        <button class="edit-btn"> <i class="fa-solid fa-square-pen"></i></button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="center">
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        <button class="edit-btn"> <i class="fa-solid fa-square-pen"></i></button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="center">
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        <button class="edit-btn"> <i class="fa-solid fa-square-pen"></i></button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="center">
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        <button class="edit-btn"> <i class="fa-solid fa-square-pen"></i></button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="center">
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        <button class="edit-btn"> <i class="fa-solid fa-square-pen"></i></button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="center">
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        <button class="edit-btn"> <i class="fa-solid fa-square-pen"></i></button>
                    </td>
                </tr>

            </tbody>
        </table>
    </section>

    <!--Button------------------------------------------------------------->

    <div class="container text-center mt-5" id="button_main">

        <div class="d-flex justify-content-center align-items-center mt-4">
            <button class="arrow-btn" id="prevBtn" onclick="changePage(currentPage - 1)"><i
                    class="fa-solid fa-arrow-left"></i></button>

            <button class="btn" onclick="changePage(1)">
                <hr class="page-line" id="line1">
            </button>
            <button class="btn" onclick="changePage(2)">
                <hr class="page-line" id="line2">
            </button>
            <button class="btn" onclick="changePage(3)">
                <hr class="page-line" id="line3">
            </button>
            <button class="btn" onclick="changePage(4)">
                <hr class="page-line" id="line4">
            </button>

            <button class="arrow-btn" id="nextBtn" onclick="changePage(currentPage + 1)"><i
                    class="fa-solid fa-arrow-right"></i></button>
        </div>

        <div class="mt-3">
            <p id="content">Page 1</p>
        </div>
    </div>


    <!--Button Java------------------------------------------------------------->

    <script src="../JS/Geren_Maquina.js"></script>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76A2z02H93BY9Ukk6a1q+xbPzOBamT4IYCe6/d5aC6PZ6ROjgfYjgCknw3y70xL"
    crossorigin="anonymous"></script>



</html>